 <footer class="container">
	 	<div class="panel-footer">
	 		<span class="left">
	 			Copyright &copy; <%= Time.now.year %> This App!
	 		</span>

	 		<span class="right">
	 			<%= link_to 'Home', root_path %>
	 			<% if user_signed_in? %>  | 
					<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
				<% end %>
	 		</span>
 	</div>
</footer>