
<div id="about" class="panel-heading center">
	<h1 class="fade firstFade">Hi!</h1><h1 class="fade secondFade">I'm Travis.</h1>
	<p><br></p>

	<img class="fade thirdFade headshot" src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/headshot1-tcm.jpg">
</div>

<div class="hero fade fourthFade">


	<div id="myCarousel" class="carousel slide" data-interval="8000">
    	<ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	        <li data-target="#myCarousel" data-slide-to="3"></li>
	        <li data-target="#myCarousel" data-slide-to="4"></li>
 		</ol>

    	<div class="carousel-inner">
        <div class="item active">
        	<a href="http://estiloasertivo.blogspot.com.es/">
        		<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/sisters.jpg" alt="">

      			<div class="carousel-caption">
            	<h4>Sisters, OR</h4>
        			<p>This is where I grew up</p>
        		</div>
        	</a>
      	</div>

      	<div class="item">
		      <a href="http://www.youtube.com/watch?v=Ehv0iriLTKE">
        		<img src="http://www.andrewdorko.com/wp-content/uploads/2016/01/portland-oregon.jpg" alt="">

         		<div class="carousel-caption">
              <h4>Portland, OR</h4>
              <p>This is where I went to college</p>
        		</div>
        	</a>
    		</div>

      	<div class="item">
  		    <a href="http://www.youtube.com/watch?v=Ehv0iriLTKE">
        		<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/three-sisters-moon.jpg" alt="">

         		<div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                  Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                  id nibh ultricies vehicula ut id elit.</p>
        		</div>
        	</a>
    		</div>

        <div class="item">
        	<a href="http://www.google.cn/">
          	<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/the-three-sisters.jpg"  alt="">

            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                  Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                  id nibh ultricies vehicula ut id elit.</p>
          	</div>
        	</a>
     		</div>
  	    <div class="item">
        	<a href="http://www.google.cn/">
          	<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/three-sisters.jpg"  alt="">

            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                id nibh ultricies vehicula ut id elit.</p>
          	</div>
          </a>
        </div>
 	      <div class="item">
          <a href="http://www.google.cn/">
            <img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/three-sisters-sunset2.jpg"  alt="">

            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                id nibh ultricies vehicula ut id elit.</p>
            </div>
          </a>
        </div>

      </div>

      <!-- Controls -->
  	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
  	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	    <span class="sr-only">Previous</span>
  	  </a>
  	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  	    <span class="sr-only">Next</span>
  	  </a>
	 </div>

  <script>
  	$('.carousel').carousel({
  		interval: 8000
  	})
  </script>


</div>
=======
<div class="panel-heading center">
	<h1 class="fade firstFade">Hi!</h1><h1 class="fade secondFade">I'm Travis.</h1>
	<p><br></p>

	<img class="fade thirdFade headshot" src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/headshot1-tcm.jpg">
</div>

<div class="hero fade fourthFade">


	<div id="myCarousel" class="carousel slide" data-interval="14000">
    	<ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	        <li data-target="#myCarousel" data-slide-to="3"></li>
	        <li data-target="#myCarousel" data-slide-to="4"></li>
 		</ol>

    	<div class="carousel-inner">
	        <div class="item active">
	        	<a href="http://estiloasertivo.blogspot.com.es/">
            		<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/sisters.jpg" alt="">

          			<div class="carousel-caption">
		            	<h4>Sisters, OR</h4>
            			<p>This is where I grew up</p>
            		</div>
	        	</a>
        	</div>

        	<div class="item">
  		    <a href="http://www.youtube.com/watch?v=Ehv0iriLTKE">
        		<img src="http://www.andrewdorko.com/wp-content/uploads/2016/01/portland-oregon.jpg" alt="">

         		<div class="carousel-caption">
                  <h4>Portland, OR</h4>
                  <p>This is where I went to college</p>
          		</div>
          	</a>
      		</div>

        	<div class="item">
  		    <a href="http://www.youtube.com/watch?v=Ehv0iriLTKE">
        		<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/three-sisters-moon.jpg" alt="">

         		<div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                      Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                      id nibh ultricies vehicula ut id elit.</p>
          		</div>
          	</a>
      		</div>



	        <div class="item">
	        	<a href="http://www.google.cn/">
		          	<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/the-three-sisters.jpg"  alt="">

		            <div class="carousel-caption">
		                <h4>Third Thumbnail label</h4>
		                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
		                  Donec id elit non mi porta gravida at eget metus. Nullam id dolor
		                  id nibh ultricies vehicula ut id elit.</p>
	            	</div>
            	</a>
     		</div>
    	    <div class="item">
            	<a href="http://www.google.cn/">
	            	<img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/three-sisters.jpg"  alt="">

	                <div class="carousel-caption">
	                    <h4>Third Thumbnail label</h4>
	                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
	                        Donec id elit non mi porta gravida at eget metus. Nullam id dolor
	                        id nibh ultricies vehicula ut id elit.</p>
                	</div>
            	</a>
	         </div>
       	     <div class="item">
            <a href="http://www.google.cn/">
                <img src="https://s3-us-west-2.amazonaws.com/pinteresting-tcm/app/about/three-sisters-sunset2.jpg"  alt="">

                <div class="carousel-caption">
                    <h4>Third Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        Donec id elit non mi porta gravida at eget metus. Nullam id dolor
                        id nibh ultricies vehicula ut id elit.</p>
                </div>
            </a>
        </div>

    </div>

      <!-- Controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
