<%= render 'home/jumbo' unless user_signed_in? %>

<div class="panel panel-default">
	<div class="panel-heading center"><h1>About this app</h1></div>
	<div class="panel-body">
		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		<span>Email</span><br />
		<span>LinkedIn</span>

	</div>
</div>



