<div id="bgimage"></div>
	<div class="panel-heading center"><h1>About Me</h1></div>
	<div class="panel-body">
		<div class="social">
			<ul class="list-unstyled list-inline">
				<li><i class="fi-mail"></i></li>
				<li><i class="fi-social-linkedin"></i></li>
				<li><i class="fi-social-github"></i></li>
			</ul>
		</div>
	</div>
