

<div class="panel-heading center"><h1>About Me</h1></div>

<div class="panel-body">
<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="./img/stellar-spire-eagle-nebula-1400x900.jpg" data-natural-width="1400" data-natural-height="900"></div>

	<div class="social">
		<ul class="list-unstyled list-inline center">
			<li><a href="mailto:myricktc@gmail.com" target="_blank"><i class="fi-mail"></i></a></li>
			<li><a href="https://www.linkedin.com/in/travis-myrick" target="_blank"><i class="fi-social-linkedin"></i></a></li>
			<li><a href="https://github.com/myricktc" target="_blank"><i class="fi-social-github"></i></a></li>
		</ul>
	</div>
</div>



