<%= render 'home/jumbo' unless user_signed_in? %>

<div class="panel panel-default">
	<div class="panel-heading center"><h1>About this app</h1></div>
	<div class="panel-body">
		<span>This app is composed of:</span>

		<div class="progress">
			<div class="progress-bar progress-bar-success" style="width: 64.9%">Ruby
				<span class="sr-only"></span>
			</div>

			<div class="progress-bar progress-bar-warning" style="width: 28.5%">HTML
				<span class="sr-only">20% Complete (warning)</span>
			</div>

			<div class="progress-bar progress-bar-danger" style="width: 4.7%">CSS
				<span class="sr-only">10% Complete (danger)</span>
			</div>

			<div class="progress-bar progress-bar-info" style="width: 1.1%">
				<span class="tooltiptext">Tooltip text</span>
			</div>

			<div class="progress-bar progress-bar-primary" style="width: 0.8%">
				<span class="sr-only">10% Complete (danger)</span>
			</div>

		</div>
	</div>
</div>



