// Fade in H1's and image
.fade {
  opacity: 0;
  margin-top: 25px;
  font-size: 33px;
  text-align: center;
}

.hero img {
  width: 100%;
}

img.headshot {
  border-radius: 105px;
}


// Load image underneath page fold
.below {
    position: absolute;
    top:100%;
}


