/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require 'foundicons_social'
 *= require 'foundicons'
 *= require 'masonry/transitions'
 *= require 'bootstrap'
 *= require 'leaflet'
 *= require_tree .
 *= require_self
 */

@import 'foundation-icons';


header .navbar {
	position: fixed;
	width: 100%;
	z-index: 10;
}

div#main {
	min-height: 100%;
	padding-top: 75px;
}

div.social {

  ul li {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
  }

  ul li i {
    font-size: 2.4rem;
    transition: font-size 0.5s ease;
  }

  ul li i:hover {
    font-size: 4.2rem;
  }

}
